.product-app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-expiry-wrapper {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.expiry-label {
  padding-left: 2em;
  opacity: 0.7;
  font-size: 0.8rem;
  background-color: red;
  color: white;
  border: 1px solid black;
}

.product-expiry-date {
  margin-bottom: 5px;
}
